!!! 5
html(lang = 'en')
  head
    title Skeleton
    meta(name = 'description', 'This is the VVVVVV that Ross built.')
    meta(name='author', content='Ross Hadden')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='2zvM0MQYwi9b4V2sMpBHkQHPt20qZAsARcxAv57fZTw')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/modernizr.js')
  body
    #main
      !=body